@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto',sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
  
  
    margin: 0;
   
}

h1{
    margin: 10px;
}

.box{
    background-color:steelblue;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    margin: 10px;
    border-radius: 10px;
    box-shadow:  2px 4px 5px rgba(0,0,0,0.3);
    transform:  translateX(500%);
    transition: transform 0.5s ease;
}

.box:nth-of-type(even){
    transform:  translateX(-500%); 
    transition: transform 0.5s ease;
}

.box.show {
    transform: translateX(0);
    transition: transform 0.5s ease;
}

box h2{
    font-size: 45px;
}